.features {
  background-color: #ffffff;
  list-style: none;
  padding-left: 0;
}

.features__header {
  font-size: 18px;
  line-height: 26px;
}

.features__text {
  line-height: 21px;
  color: #333333;
}

@media (min-width: 768px) {
  .features {
    display: flex;
  }
}
