.navigation-list {
  margin: 0;
  padding-left: 0;
  text-align: center;
  list-style: none;
}

.navigation-list__item {
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}

.navigation__link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-decoration: none;
}

@media (min-width: 768px) {
  .navigation-list {
    display: flex;
    justify-content: space-around;
  }

  .navigation-list__item {
    background-color: #ffffff;
    border: 0;
    color: #000000;
  }

  .navigation__link {
      color: #000000;
    }
  }
}
