.reasons-list {
  list-style: none;
  padding-left: 0;
  margin-top: 16px;
}

.reasons-list__positioner {
  width: 320px;
  margin: 0 auto;
}

.reasons-list__item {
  &--grey {
    padding-top: 26px;
    padding-bottom: 25px;
    position: relative;
    background-color: #eeeeee;
  }

  &--line::after {
    position: absolute;
    content: "";
    width: 280px;
    height: 1px;
    background-color: #d6d6d6;
    bottom: 1px;
    left: 20px;
  }
}

@media (min-width: 321px) {
  .reasons-list__item {
    &--line::after {
      display: none;
    }
  }
}

.reasons-list__content {
  padding: 38px 10px 36px;
  background-color: #81b3d2;
}

.reasons-list__image {
  display: block;

  &--position {
    position: relative;
    margin-top: -1px;
  }
}

.reasons-list__header {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 9px;

  &--color {
    color: #ffffff;
  }

  &--margin {
    margin-top: 1px;
  }

  &--grey {
    margin-top: 1px;
  }

  &--position {
    margin-top: -1px;
  }
}

.reasons-list__number {
  line-height: 21px;
  text-align: center;
  margin-top: 0;

  &--color {
    color: #ffffff;
  }
}

.reasons-list__text {
  line-height: 21px;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 4px;

  &--padding {
    padding-left: 32px;
    padding-right: 32px;
  }

  &--color {
    color: #ffffff;
  }

  &--position {
    margin-bottom: 2px;
  }
}

@media (min-width: 321px) {
  .reasons-list__image {
    width: 100%;
    height: 256px;
  }
}

@media (min-width: 768px) {
  .reasons-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 768px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .reasons-list__positioner {
    width: 512px;
  }

  .reasons-list__item {
    width: 33.33%;

    &--color {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .reasons-list__content {
    max-width: 256px;
    width: 100%;
    padding-bottom: 44px;

    &--order {
      order: 2;
    }
  }

  .reasons-list__header {
    font-size: 21px;
    line-height: 26px;
    max-width: 151px;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 10px;
  }

  .reasons-list__number {
    margin-bottom: 21px;
  }

  .reasons-list__text {
    max-width: 172px;
    margin: 0 auto;
  }

  .reasons-list__text--short {
    max-width: 158px;
  }

  .reasons-list__item--grey {
    padding-top: 38px;
    padding-bottom: 44px;
  }

  .reasons-list__image {
    &--position {
      margin-top: 0;
    }
  }
}

@media (min-width: 768px) {
  .reasons-list__text {
    &--padding {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (min-width: 769px) {
  .reasons-list__positioner {
    position: relative;
    width: 66.5%;
    overflow: hidden;
  }

  .reasons-list__image {
    position: absolute;
    width: 100%;
    height: auto;
  }

  .reasons-list__content {
    max-width: 100%;
    width: 33.5%;
  }
}

@media (min-width: 1200px) {
  .reasons-list {
    max-width: 1200px;
  }

  .reasons-list__header--color {
    margin-top: 14px;
  }

  .reasons-list__text {
    max-width: 290px;
  }

  .reasons-list__content {
    padding-bottom: 58px;
    width: 400px;
  }

  .reasons-list__positioner {
    width: 800px;
  }

  .reasons-list__image {
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
  }

  .reasons-list__item--grey {
    padding-bottom: 65px;
  }
}
