.site-header {
  padding-top: 0.1px;
}

.site-header__burger {
  display: block;
  width: 23px;
  height: 21px;
  margin-left: auto;
  margin-top: 14px;
  margin-bottom: 20px;
  margin-right: 21px;
  padding: 0;
  border: 0;
  background-color: #ffffff;
}

.site-header__closer {
  display: block;
  position: absolute;
  top: 17px;
  right: 19px;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-color: inherit;
  border: 0;
}

@media (max-width: 768px) {
  .site-header__burger {
    &--js-active {
      display: none;
    }
  }

  .site-header__closer {
    &--js-active {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .site-header__burger,
  .site-header__closer {
    display: none;
  }
}
