.site-footer {
  text-align: center;
}

.site-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 36px;
  position: relative;
  left: -2px;
}

@media (min-width: 768px) {
  .site-footer {
    display: flex;
    justify-content: space-between;
    max-width: 648px;
    margin: 0 auto;
  }

  .site-footer__hashtag {
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  .site-footer {
    max-width: 962px;
  }
}
