.gallery {
  padding-left: 0px;
}

.gallery__item {
  list-style: none;
}

.gallery__description {
  line-height: 24px;
  font-weight: bold;
}

.gallery__author {
  line-height: 24px;
  color: #333333;
}

.gallery__counter {
  line-height: 24px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__item {
    width: 50%;

    &--king-size {
      width: 100%;
    }
  }
}

@media (min-width: 1200px) {
  .gallery__item {
    width: 33%;

    &--king-size {
      width: 100%;
    }
  }
}
